body {
    font-family: "Arial", Serif;
    background-color: #f4f4f4;
}

.navbar{
    background-color: #3b5998;
    overflow: hidden;
    height: 63px;
}

.navbar a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar ul {
    margin: 8px 0 0 0;
    list-style: none;
}

.navbar a:hover{
    background-color: #ddd;
    color: black;
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0 ;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    -webkit-transition: all 0.5s ease;
}

.side-nav a {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #ccc;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover {
    color: #fff;
}

.side-nav .btn-close {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left 0.5s;
    padding: 20px;
    overflow: hidden;
    width: 90%;
}

.game-over{
    transition-duration: 1s;
    transform: scale(0.5) rotateX(180deg);
}

.hidden {
    display: none !important;
}
.leaderboards {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.leaderboards img{
   width: 60%;
    height: 60%;
}

.leaderboards .score {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 30px;
}

.leaderboards .score div{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin: 10px;
}

.app div {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    justify-content: center;
    align-items: center;
}

.rules ul {
    list-style: decimal;
}


button {
    color: #494949;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border: 4px solid #494949;
    display: block;
    transition: all 0.4s ease 0s;
}

button:hover {
    color: #ffffff;
    background: #f6b93b;
    border-color: #f6b93b;
    transition: all 0.4s ease 0s;
}

@media (max-width:1024px) {
    .side-nav {
        display: block;
        position: absolute;
        width: 100%;
        height: 200px;
        padding-top: 0;
    }

    .open-slide {
        display: none;
    }

    .navbar {
        display: none;
    }

    .side-nav .btn-close {display: none;}

    #main {
        margin-top: 200px;
    }

    .leaderboards {
        margin-top: 250px;
        font-size: 20px;
    }


}

